node_modules
yarn.lock
.expo/
packages/*/dist
.DS_Store
packages/**/.jest-cache/*
public/**/*.mjs
packages/**/public/**/*.mjs
apps/**/public/**/*.mjs
apps/**/dist/*
*.d.ts
*.d.map.ts
*.stories.sources.ts
packages/**/.eslintcache
apps/docs/.metro-tmp/
coverage/
apps/docs/test-results/
apps/docs/playwright-report/
packages/*/.tsbuildinfo
